.grid-wrapper {
  flex: 2;
}
* {
  font-family: 'Elms Sans', sans-serif;
}

.global-title {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  font-optical-sizing: auto;
  font-weight: 800;
  color: #ffffff;
  font-style: normal;
}

.value {
  font-size: 1.5rem;
  font-optical-sizing: auto;
  font-weight: 500;
  color: #f2d27b;
  font-style: normal;
}

.global-item {
  border-radius: 10px;
  background-color: #0d1421;
}
