html {
  background-color: black;
}

.grid-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 300px;
  width: 100%;
}

.widget {
  position: relative;
  background-color: #0d1421;
  border: 1px solid black;
}

td {
  height: 75px;
  width: 150px;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(128, 128, 128, 0.42);
  border-top: 1px solid rgba(128, 128, 128, 0.42);
  text-align: center;
}

th {
  border-top: 1px solid rgba(128, 128, 128, 0.42);
  height: 50px;
  text-align: center;
  cursor: pointer;
}
tr {
  font-weight: 700;
  color: white;
}

tbody tr:hover {
  cursor: pointer;
  background-color: black;
  box-shadow: 0px 0px 0px 1px white;
}
.symbol-coin {
  height: 30px;
}


.market-item {
  display: flex;
  width: 100%;
  height: 50px;
  color: white;
  align-items: center;
}

.categories {
  grid-column: span 3;
}

